body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

#root {
	width: 600px;
	margin: auto;
}

.message {
	background-color: #444;
	color: #fff;
	border-radius: 2px;
	margin: 8px;
}

.mdl-layout__header.mdl-layout__header-row {
    padding-left: 0px;
}

.mdl-layout__title {
	padding-left: 32px;
}

.mdl-button .material-icons
{ 
	margin-bottom: 3px; 
}